# macOS
.DS_Store

# Xcode
.derivedData/
DerivedData/
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcodeproj
*.xcworkspace
xcuserdata

# Tuist
Derived/

# Scripts
.build/
tmp/

# Binaries
GoogleMaps/Frameworks/*.framework
GoogleMaps/ModifiedFrameworks/iphoneos
GoogleMaps/ModifiedFrameworks/iphonesimulator
GoogleMaps/OriginalFrameworks/*.xcframework
